<h1>Login</h1>

<p>
  First you have to register this app with a shop to allow access to its private admin data.
</p>

<form action='/login/authenticate' method='post'>
  <label for='shop'><strong>The URL of the Shop</strong>
    <span class="hint">(or just the subdomain if it's at myshopify.com)</span>
  </label>
  <p>
    <input type='text' name='shop' />
  </p>
  <input type='submit' value='Authenticate' />
</form>